BackEnd/Server/.idea/
BackEnd/Server/venv/
BackEnd/Server/DataStructures/__pycache__/
BackEnd/Server/classOn/__pycache__/
BackEnd/Server/classOn/home/__pycache__/
BackEnd/Server/classOn/professor/__pycache__/
BackEnd/Server/__pycache__/dataStructures.cpython-36.pyc
BackEnd/Server/classOn/student/__pycache__/student.cpython-36.pyc
BackEnd/Server/classOn/student/__pycache__/__init__.cpython-36.pyc
BackEnd/Server/classOn/assigment/__pycache__/assigment.cpython-36.pyc
BackEnd/Server/classOn/student/__pycache__/forms.cpython-36.pyc
BackEnd/Server/classOn/assigment/__pycache__/
.idea/
BackEnd/Server/classOn/static/js/node_modules/
BackEnd/Server/classOn/.vs/slnx.sqlite
BackEnd/Server/.vs/ProjectSettings.json
BackEnd/Server/.vs/slnx.sqlite
BackEnd/Server/.vs/
BackEnd/Server/classOn/.vs/
BackEnd/Server/config/development.py
venv/
BackEnd/Server/config/__pycache__/
BackEnd/Server/config/developer.py
