{% extends 'layout.html' %}

{% block body %}

    <style>
        body{
            background-image: url("/static/images/background.jpeg");
        }
    </style>

    <div class="home">

        {% if session.logged_in %}

            {% if session.isStudent %}

        <a href="/student/dashboard">

            {% elif session.isProfessor %}

        <a href="/professor/dashboard">

            {% endif %}

        {% endif %}

        <div class="jumbotron text-center fadeInRightBig">
            <h1> Welcome to <img src="{{url_for('.static', filename='images/logo_big.png')}}" ></h1>
            <p>ClassOn has been designed to improve the learning experience.<br> Register if it is your first time here or log up if you already have a registered profile.</p>

            {% if session.logged_in == NULL %}
                <br>
                <a href="/register" class="btn btn-primary">Register</a>
                <a href="/login" class="btn btn-success">Login</a>
            {% endif %}
        </div>

        <div class="terms">
            <span>
                <a href="{{url_for('.static', filename='doc/legalTerms.txt')}}" target="_blank">Legal Terms</a>                
            </span>
            <span>
                <a href="{{url_for('.static', filename='doc/privacyPolicy.txt')}}" target="_blank">Privacy Policy</a>
            </span>
        </div>


        {% if session.logged_in %}
        </a>
        {% endif %}

    </div>

{% endblock %}