{% extends 'layout.html' %}

{% block body %}


    <style>
        body{
            background-image: url("/static/images/background.jpeg");

        }
    </style>

    <div class="home">

    {% if session.logged_in %}
            {% if session.isStudent %}
                <a href="/student/dashboard">

                {% elif session.isProfessor %}
                <a href="/professor/dashboard">

                {% endif %}
            {% endif %}

                    <div class="jumbotron text-center fadeInRightBig">
                        <h1> Welcome to <img src="{{url_for('.static', filename='images/logo_big.png')}}" ></h1>
                        <p>Donec sed egestas odio. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
                            turpis egestas. Nullam sollicitudin ante a odio rutrum, iaculis pulvinar dolor ultricies.</p>
                        {% if session.logged_in == NULL %}
                            <br>
                            <a href="/register" class="btn btn-primary">Register</a>
                            <a href="/login" class="btn btn-success">Login</a>
                        {% endif %}
                    </div>

            {% if session.logged_in %}
                 </a>
    {% endif %}

    </div>

{% endblock %}