
{% block professor %}
    <h2>I'm a professor</h2>
    <!--{% include 'includes/_messages.html' %} This makes the messages appear one more time-->
    <form action="" method="POST">
        <div class="form-group">
            <label>Email</label>
            <!--if the user refresh we want the user to stay-->
            <!--This check which of the inputs need to be filled professor or student-->
            {% if request.form['btn'] == 'isProfessor' %}
                <!--if the user refresh we want the user to stay-->
                <input type="text" name="email" class="form-control" value="{{request.form.email}}">
            {% else %}
                <input type="text" name="email" class="form-control">
            {% endif %}
        </div>
        <div class="form-group">
            <label>Password</label>
            <!--if the user refresh we want the user to stay-->
            <!--This check which of the inputs need to be filled professor or student-->
            {% if request.form['btn'] == 'isProfessor' %}
                <input type="password" name="password" class="form-control" value="{{request.form.password}}">
            {% else %}
                <input type="password" name="password" class="form-control">
            {% endif %}
        </div>
        <button type="submit" name="btn" class="btn btn-primary" value="isProfessor">Login as professor</button>
    </form>
{% endblock %}