.image_button{
    width:150px;
    margin-bottom:2%;
}

@media only screen and (max-width: 1000px) {

    .image_button{
        width:130px;}
}

.option_title{
    font-weight: bold;
}

.options{
    text-align:center;
    transition: 0.3s ease;

}
.option{
    display: inline-block;
    margin-right:3%;
    margin-left: 3%;
    margin-top:2%;
    margin-bottom:2%;

}
.image_button:hover {
    transform: scale(1.15);
                 transition: 0.2s ease;

}