{% extends 'layout.html' %}

{% block body %}
    <h1>Select your physical place in the room.</h1>
    <p>The form is not beautiful but it works ¯\_(ツ)_/¯.</p>
    <hr class="my-4">
    <form action="" method="POST">
        <span class="badge badge-pill badge-dark text-center w-100 ">Blackboard</span>
        <table class="table">
            {% for row in range(rows) %}
            <tr>
                {% for column in range(columns) %}
                    <td>
                        {% set ns = namespace(repeated=false) %}
                        {% for place in takenPlaces %}
                            {% if place[0]|string ~ '_' ~ place[1]|string ==  row ~ '_' ~ column %}
                                {% set ns.repeated = True %}
                            {% endif %}
                        {% endfor %}
                        {% if ns.repeated %}
                            <!-- I you want only one student for each place, uncomment the line below -->
                            <button type="button" class="btn btn-primary" disabled>Took</button>
                            <!-- And comment the line below -->
                            <!-- <button type="submit" name="place" class="btn btn-primary active" value="{{ row ~ '_' ~ column }}">Select</button> -->
                        {% else %}
                            <button type="submit" name="place" class="btn btn-primary active" value="{{ row ~ '_' ~ column }}">Select</button>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </form>

{% endblock %}