{% extends 'layout.html' %}

{% block body %}
    <h1>Select your physical place in the room</h1>
    <p>Pay atention to the location of the blackboard and make sure you are going to select the right place.</p>
    <hr class="my-4">
    <form action="" method="POST">
        <table class="table select-map">
            {% for row in range(rows) %}
            <tr>
                {% for column in range(columns) %}
                    <td>
                        {% set ns = namespace(repeated=false) %}
                        {% for place in takenPlaces %}
                            {% if place[0]|string ~ '_' ~ place[1]|string ==  row ~ '_' ~ column %}
                                {% set ns.repeated = True %}
                            {% endif %}
                        {% endfor %}
                        {% if ns.repeated %}
                            <button type="button" class="btn btn-primary" disabled>Took</button>
                        {% else %}
                            <button type="submit" name="place" class="btn btn-primary active" value="{{ row ~ '_' ~ column }}">Select</button>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        <span class="badge select-badge badge-pill badge-dark text-center w-100 ">Blackboard</span>
    </form>

{% endblock %}