{% extends 'layout.html' %}

{% block body %}
    <h1>Welcome student</h1>
    <p>We are going to learn.</p>
    <hr class="my-4">
    <h2>Running classes you can join:</h2>

    <ul class="list-group">
        {% if runningClasses|length > 0 %}
            {% for id in runningClasses %}
                <!--<div class="link">-->
                {%- set runningClass=runningClasses[id] %}
                <!--<a href="/assigment/{{ runningClass['assigment_id'] }}/1" class="list-group-item">-->
                    <!--{{ runningClass['course'] }}, {{ runningClass['assigment'] }} in room: {{ runningClass['room'] }}-->
                <!--</a>-->
                {% from "includes/_formhelpers.html" import render_field %}
                <form action="" method="POST">
                    <button type="submit" name="btn" class="btn btn-success" value="{{ id }}" style="margin:1%">
                        {{ runningClass['course'] }}, {{ runningClass['assigment'] }} in room: {{ runningClass['room'] }}
                    </button>
                </form>
                <!--</div>-->
            {% endfor %}
        {% else %}
            <p>There aren't classes to join right now.</p>
        {% endif %}
    </ul>

{% endblock %}