{% extends 'layout.html' %}
{% block body %}

    <h1>Open existing classroom</h1>
    <hr class="my-4">

    {% from "includes/_formhelpers.html" import render_field %}
    <form action="" method="POST">
        <div class="row" >
            <div class="col-sm-4 fadeInLeftBig" id="col1">
                <div class="form-group">
                    {{render_field(form.classroom, class_="form-control")}}
                </div>
                <div class="form-group">
                    {{render_field(form.assigment, class_="form-control")}}
                </div>

                <button type="submit" name="btn" class="btn btn-primary" value="create">Open class</button>
            </div>

            <div class="col-sm-8" id="col2">
            </div>
        </div>
    </form>

{% endblock %}