<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ClassOn</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="http://127.0.0.1:5000/static/style.css">
        <link rel="shortcut icon" href="http://127.0.0.1:5000/static/images/classOn_logo.ico">

        {% include 'includes/_generalScripts.html' %}
    </head>

    <body>
        {% include '/includes/_navbar.html' %}
        <main role="main" class="container">
            <div>
                <br>
                {% include 'includes/_messages.html' %}
                {% block body %}{% endblock %}
            </div>
        </main>
    </body>
</html>